@tailwind base;
@tailwind components;
@tailwind utilities;

.shadow-cyan {
  filter: drop-shadow(0 0 16px rgba(34, 211, 238, 0.75));
}

.hover\:shadow-cyan:hover {
  filter: drop-shadow(0 0 16px rgba(34, 211, 238, 0.75));
}

.react-tooltip {
  background-color: #171717;
  border-radius: .5rem;
}
