.app-container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #222;
  color: #777;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
