.game-selector-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

/* selector */
.current-container {
  cursor: pointer;
  user-select: none;
  width: fit-content;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  align-self: flex-end;
  border-radius: 10rem;
  background-color: #333;
}

.current {
  display: flex;
  align-items: center;
  border-radius: 10rem;
  transition: 200ms;
}

.game {
  width: fit-content;
  padding: 0.5rem 1rem;
}

.chevron {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 0.8rem 0 0.5rem;
  width: 2.5rem;
  border-left: 1px solid #555;
  transition: 200ms;
}
.chevron > svg {
  transition: 200ms;
}
.chevron > svg > path {
  fill: #777;
  transition: 200ms;
}

/* list */
.games-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
  transition: 200ms;
}

.game-selector-container.show > .games-container {
  visibility: visible;
  opacity: 1;
  height: fit-content;
  margin-top: 1rem;
}

.game-selector-container.hide > .games-container {
  visibility: hidden;
  opacity: 0;
  height: 0;
  margin-top: 0;
}

.game-selector-container.show > .current-container > .current {
  color: #46c2cb;
  outline: solid 1px #46c2cb;
  background-color: #222;
}

.game-selector-container.show
  > .current-container
  > .current
  > .chevron
  > svg
  > path {
  fill: #46c2cb;
}

.game-selector-container.show > .current-container > .current > .chevron > svg {
  rotate: 90deg;
}

.games-container {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.games-container > .game {
  cursor: pointer;
  padding: 0.2rem 1rem;
  border-radius: 10rem;
  background-color: #333;
  outline: solid 1px #333;
  transition: 200ms;
}

.games-container > .game:hover {
  color: #46c2cb;
  background-color: #222;
  outline: solid 1px #46c2cb;
}
