
.social-links > a {
  width: 2rem;
  height: 2rem;
  font-size: 1.5rem;
  color: #444;
  transition: 200ms;
}

.social-links > a > svg {
  fill: #444;
  width: 100%;
  height: 100%;
  transition: 200ms;
}

.social-links > a:hover,
.social-links > a:hover > svg {
  font-size: 1.5rem;
  fill: #46c2cb;
  color: #46c2cb;
  filter: drop-shadow(0 0 1rem rgb(72, 195, 203, 1));
}

.logoSVG {
  overflow: visible;
}
.logoSVG > g > path,
.logoSVG > rect {
  transition: 200ms;
}

.logoSVG:hover > g > path {
  fill: #46c2cb;
}

.logoSVG:hover > rect {
  stroke: #46c2cb;
  filter: drop-shadow(0 0 1rem rgb(72, 195, 203, 1))
    drop-shadow(0 0 1rem rgb(72, 195, 203, 1));
}

.logo-container {
  position: relative;
}

.logo-container > .version-tag {
  position: absolute;
  top: -5px;
  right: -28px;
  padding: 0 0.5rem;
  font-size: 0.75rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  border-radius: 1rem;
  background-color: #222;
  outline: 1px solid #444;
  color: #666;
  transition: 200ms;
}

.logo-container:hover > .version-tag {
  color: #111;
  background-color: #46c2cb;
  outline: 1px solid #46c2cb;
  box-shadow: 0 0 2rem #46c2cb;
}

h1 {
  position: relative;
  font-size: clamp(1.5rem, 7vw, 3rem);
  transition: 200ms;
}

h1:hover {
  color: #46c2cb;
  text-shadow: 0 0 2rem #46c2cb;
}

h3 {
  font-size: clamp(1rem, 3vw, 1.5rem);
  font-weight: normal;
}

h3 > i {
  font-style: unset;
  font-weight: bold;
  transition: 200ms;
}

h3 > i > a {
  color: #777;
  transition: 300ms;
}

h3 > i:hover,
h3 > i > a:hover {
  color: #46c2cb;
  text-shadow: 0 0 2rem #46c2cb;
}
