.output-container {
  padding: 0.5rem;
  min-height: 66px;
  max-width: 80vw;

  border-radius: 1rem;
  outline: 1px solid #444;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.motion-input-container {
  height: 3.5rem;
}

.motion-input-container > img {
  width: 100%;
  height: 100%;
  object-fit: fit;
}

.combo-container {
  display: flex;
  padding: 0.2rem 0.5rem;
  background-color: #333;
  border-radius: 0.8rem;
}
