.output-container {
  cursor: default;
  padding: 0.5rem;
  min-height: 66px;
  width: fit-content;

  border-radius: 1rem;
  outline: 1px solid #444;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.motion.input-container {
  width: 2.5rem;
}

.motion.input-container > img {
  width: 100%;
  height: 100%;
  object-fit: fit;
}

.combo-container {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  padding: 0.2rem 0.5rem;
  background-color: #333;
  border-radius: 0.8rem;
}

.input-container {
  position: relative;
}

.mech.input-container {
  height: 80px;
  width: fit-content;
  display: flex;
  justify-content: center;
}

.mech.input-container > .input-name {
  padding: 0 0.5rem;
  background-color: #222;
  border-radius: 1rem;
}

.tooltip-container {
  z-index: 5;

  /* position */
  position: absolute;
  transform: translateX(-50%);

  /* design */
  width: 15rem;
  height: fit-content;
  border-radius: 0.5rem;
  background-color: #111;
  transition: 200ms;
}

.tooltip {
  padding: 1rem 1.5rem;
  position: relative;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.tooltip > span {
  display: block;
  width: fit-content;
  text-transform: none;
  letter-spacing: 0;
}

.tooltip::before {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  border-width: 10px 10px 0;
  border-style: solid;
  border-color: #111 transparent;
}

.tooltip-container.show {
  visibility: visible;
  opacity: 1;
}

.tooltip-container.hidden {
  visibility: hidden;
  opacity: 0;
}

.more-link {
  text-align: center;
  display: block;
  width: 100%;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  color: #46c2cb;
  text-decoration: none;
  border-radius: 0.5rem;
  outline: solid 1px #46c2cb;
  transition: 200ms;
}
.more-link:hover {
  color: #111;
  background-color: #46c2cb;
}
