.output-container {
  cursor: default;
  padding: 0.5rem;
  width: fit-content;

  border-radius: 1rem;
  outline: 1px solid #444;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  row-gap: 1.3rem;
}

.combo-container {
  position: relative;
  min-height: 3rem;
  display: flex;
  align-items: center;
  gap: 0.25rem;
  padding: 0.5rem 1rem;
  background-color: #333;
  border-radius: 0.8rem;
}

.complex-container {
  position: relative;
}

.optional-container,
.repeat-container,
.hold,
.release,
.multi-hit {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: #222;
  padding: 0.3rem 0.5rem;
  border-radius: 0.5rem;
}

.tech-tag {
  font-size: 0.75rem;
  opacity: 1;
  position: absolute;
  left: calc(50%);
  transform: translate(-50%, 0);
  width: fit-content;
  z-index: 1;
  padding: 1px 0.5rem 2px;
  border-radius: 1rem;
  background-color: #333;
  outline: 1px solid #555;
  transition: 200ms;
}

.optional-container > .tech-tag,
.repeat-container > .tech-tag,
.hold > .tech-tag,
.release > .tech-tag,
.multi-hit > .tech-tag {
  bottom: -12px;
}

.wrapper {
  width: 100%;
  height: 100%;
}
.wrapper > .tech-tag {
  top: -12px;
}

*:hover > .tech-tag,
*:hover > * > .tech-tag {
  opacity: 0.5;
}

.tech-tag:hover {
  opacity: 1;
  scale: 1.3;
}

.combo-container svg g path,
.movement > * > svg > g > path {
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
}

.follow-up > svg > path,
.follow-up > svg > g > path {
  fill: #333;
}

.follow-up {
  position: relative;
  width: 3rem;
}
.movement,
.special,
.action,
.mech-icon {
  position: relative;
  width: 2rem;
}

.movement > * > svg,
.special > * > svg,
.action > * > svg,
.mech-icon > * > svg {
  transition: 200ms;
}

.movement:hover > * > svg,
.special:hover > * > svg,
.action:hover > * > svg,
.mech-icon:hover > * > svg {
  z-index: 5;
  scale: 1.3;
}

.mech {
  position: relative;
  background-color: #222;
  padding: 0 0.5rem 0.1rem;
  border-radius: 1rem;
}

/* .follow-up > svg > path,
.follow-up > svg > g > path {
  fill: #333;
} */

/* 

.motion.action-container {
  position: relative;
  width: 2.5rem;
}

.motion.action-container > img {
  width: 100%;
  height: 100%;
  object-fit: fit;
}



.action-container.tech {
  position: relative;
  padding: 4px 8px;
  border-radius: 0.75rem;
  background-color: #262626;
}

.tech-container {
  z-index: 1;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
  overflow: hidden;
  max-height: 2rem;
  background-color: #111;
  border-radius: 1rem;
}

.action-container {
  padding: 0.25rem 0;
  border-radius: 0.5rem;
  position: relative;
  transition: 200ms;
}

.action-container:hover {
  outline: 1px solid rgb(255, 255, 255, 0.1);
  scale: 1.3;
}

.mech.action-container {
  height: 80px;
  width: fit-content;
  display: flex;
  justify-content: center;
}

.mech.action-container > .input-name {
  position: relative;
  height: fit-content;
  padding: 0.2rem 0.5rem;
  background-color: #222;
  border-radius: 1rem;
}

.mech.action-container > .input-name > .input-tag {
  z-index: 1;
  position: absolute;
  background-color: #222;
  padding: 0.2rem 0.5rem;
  border-radius: 1rem;
} */
