@tailwind base;
@tailwind components;
@tailwind utilities;

.shadow-cyan {
  filter: drop-shadow(0 0 16px rgba(34, 211, 238, 0.75));
}

.hover\:shadow-cyan:hover {
  filter: drop-shadow(0 0 16px rgba(34, 211, 238, 0.75));
}

.focus\:shadow-cyan:focus {
  filter: drop-shadow(0 0 16px rgba(34, 211, 238, 0.75));
}

.react-tooltip {
  background-color: #171717;
  border-radius: 0.5rem;
  z-index: 50;
  outline: 1px solid #333;
  transition: 200ms;
}

.react-tooltip:hover {
  outline-color: #06b6d4;
  filter: drop-shadow(0 0 16px rgba(34, 211, 238, 0.25));
}

.modal a {
  outline: solid 1px #555;
  margin: 0 0.25rem;
  border-radius: 0.2rem;
  padding: 0.15rem 0.5rem;
  transition: 200ms;
}

.modal a:hover {
  outline: solid 1px rgba(34, 211, 238);
  color: rgba(34, 211, 238);
}

.dropdown:focus-within .dropdown-menu,
.dropdown .dropdown-menu:hover {
  opacity: 1;
  transform: translate(0) scale(1);
  visibility: visible;
}
